<script type="text/javascript">
  $( document ).ready( function(num){

    init();
    plusOrMinusButtons();

    function plusOrMinusButtons(){
      $( '#new-event' ).click( function( e ){ e.preventDefault()
        if (num >= 1) { $( '#hide-event' ).show(); }
        num++;
        setAmount();
      });

      $( '#hide-event' ).click( function( e ){ e.preventDefault()
        setAmount();
        num--;
        if(num == 1){ $( '#hide-event' ).hide(); }
      });
    }
    function init(){
      num = 1;
      $( '#meeting_meeting_instances' ).val(num);
      $( '#2, #3' ).hide();
      $( '#hide-event' ).hide();
    }
    function setAmount(){
      $( '#' + num.toString() ).show();
      $( '#meeting_meeting_instances' ).val(num);
    }
  });
</script>

<div class="row">

  <%= form_for(meeting) do |f| %>
    <% if meeting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

        <ul>
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div style="visibility:hidden">
      <%= f.label :meeting_instances %>
      <%= f.text_field :meeting_instances %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>



    <div class="field" id="1">
      <%= f.label :start_time_1 %>
      <%= f.datetime_select :start_time_1 %>
    </div>






      <div class="field" id="2">
        <%= f.label :start_time_2 %>
        <%= f.datetime_select :start_time_2 %>
      </div>

      <div class="field" id="3">
        <%= f.label :start_time_3 %>
        <%= f.datetime_select :start_time_3 %>
      </div>

      <% if current_page?(controller: 'meetings', action: 'new') %>
        <button id="new-event"><h4>+</h4></button>
        <button id="hide-event"><h4>-</h4></button>
        <!-- <div id="new-event">new event</div> -->
      <% end %>



    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
