<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<%= link_to 'New Meeting', new_meeting_path %>



<%= month_calendar events: @meetings do |date, meetings| %>

  <div style="width:44px">
    <span class="day"><%= date.day %></span>
  </div>



  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting %>
    </div>
  <% end %>



<% end %>
